<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="top-header">

            <div class="logo-busqueda">
                <div class="logo">
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
                </div>
                <div class="busqueda">
                    <input type="text" name="" id="" placeholder="Buscar productos">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>

            <div class="compra">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin   tarjeta de credito</p>
            </div>
        </div>

        <div class="bot-header">
            <ul class="site">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="login">
                <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>

        <div class="menu-contenedor">
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <div class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner">
    </div>
    <main>


        <div class="centralbox">
            <h1>Basado en tu ultima compra</h1>

                <div class="productos">
                    <div class="a-producto">
                        <div class="producto-img"><img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"></div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% off</p>
                            </div>
                            <p class="nombre">Cafetera Moulinex</p>
                        </div>
                    </div>

                    <div class="a-producto">
                        <div class="producto-img"><img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"></div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% off</p>
                            </div>
                            <p class="nombre">MacBook Pro 2019</p>
                        </div>
                    </div>

                    <div class="a-producto">
                        <div class="producto-img"><img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% off</p>
                            </div>
                            <p class="nombre">Samsung Galaxy s10</p>
                        </div>
                    </div>

                    <div class="a-producto">
                        <div class="producto-img"><img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% off</p>
                            </div>
                            <p class="nombre">SmartTv Samsung 43"</p>
                        </div>
                    </div>
                </div>


            <h1 style="margin-top: 30px;">Seccion de Ofertas</h1>

                <div class="productos">
                    <div class="a-producto">
                        <div class="producto-img"><img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"></div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% off</p>
                            </div>
                            <p class="nombre">Cafetera Moulinex</p>
                        </div>
                    </div>

                    <div class="a-producto">
                        <div class="producto-img"><img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"></div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% off</p>
                            </div>
                            <p class="nombre">MacBook Pro 2019</p>
                        </div>
                    </div>

                    <div class="a-producto">
                        <div class="producto-img"><img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% off</p>
                            </div>
                            <p class="nombre">Samsung Galaxy s10</p>
                        </div>
                    </div>

                    <div class="a-producto">
                        <div class="producto-img"><img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% off</p>
                            </div>
                            <p class="nombre">SmartTv Samsung 43"</p>
                        </div>
                    </div>
                </div>

    </main>

    <footer>
        <div class="footer-cajas">
            <div class="caja">
                <i class="fas fa-credit-card"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div class="caja">
                <i class="fas fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div class="caja">
                <i class="fas fa-user-shield"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>