@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 
â— Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
 */
*{  
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    transition: all 200ms;
}
a:hover{
    color: #1259c3;
}
ul{
    list-style-type: none;
}



header{
    background-color: #EAC926;
    padding-bottom: 10px;
}

.burger-menu {
    display: inline;
    color: wheat;
    background-color:#1259c3;
    padding: 15px;
    border-radius: 10px;
}
.menu-contenedor{
    display: flex;
    justify-content: center;
}
.site{
    display: none;
}
.login{
    display: none;
}

 
.logo-busqueda{
    display: flex;
    align-items: center;
}
.logo {
  width: 50%; 
  padding: 10px;
}
.busqueda{
    width: 70%;
    display: flex;
    padding: 10px;
}
.busqueda input{
    padding: 13px;
    border: none;
    border-radius: 5px;
}
.busqueda button{
    padding: 13px;
    margin-left: -4px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: white;
}
.compra{
    text-align: center;
    margin: 15px;
}

.bot-header{
    display: flex;
    justify-content: space-between;
}
.bot-header li{
    margin: 15px;
}



li {
    font-size: 12px;
}

h1{
    font-size: 24px;
}
p{
    font-size: 12px;
}


main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    background-color: #ebebeb;
    padding: 40px 0 40px 0;
    margin-top: -10px;
}
.banner img{
    width: 100%;
}
.centralbox{
    width: 90vw;
    margin: auto;
}
.precio{
    font-size: 18px;
    width: 30%;
}
.descuento{
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}
.nombre{
    font-size: 16px;
    display: none;
}


.a-producto{
    margin: 10px;
    padding: 10px;
    background-color: white;
}
.a-producto:hover{
    cursor: pointer;
}
.a-producto img{
    max-width: 100%;
}
.descripcion{
    border-top: solid 1px #ebebeb;
    position: relative;
}
.descripcion > .fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}
.precio-descuento{
    display: flex;
}

.footer-cajas{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
}

.caja{
    margin: 30px;
}
.caja i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    transition: all 500ms;
}
.caja i:hover{
    color: #666;
}

@media (min-width: 480px){
    .a-producto{
        
    }
    .site{
        display: flex;
    }
    .login{
        display: flex;
    }
    .menu-contenedor{
        display: none;
    }
    .nombre{
        display: block;
    }
}


@media (min-width: 769px){
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .a-producto{
        width: 45%;
    }
    .top-header{
        display: flex;
        align-items: center;
    }
    .logo-busqueda{
        flex-grow: 0.9;
    }
    .compra{
        flex-grow: 0.11;
    }


    .footer-cajas{
        flex-direction: row;
    }
}

@media (min-width: 1023px){
    .a-producto{
        width: 22.5%;
        transition: all 200ms;
    }
    .a-producto:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .fa-truck{
        transition: 500ms;
    }
    .fa-truck:hover{
        transform: rotate(-90deg);
    }
}


.register-main{
    background-color: white;
}
.inputs{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    padding: 20px 200px 20px 200px;
    box-shadow: 3px 1px 11px -1px rgba(0,0,0,0.75);
}
.inputs input{
    padding: 1em;
    border-radius: 5px;
}

form div{
    display: flex;
    flex-direction: column;
}

.inputs label{
    margin-top: 10px;
}

.inputs button{
    margin-top: 15px;
    padding: 10px 0 10px 0;
    background-color: white;
    transition: all 400ms;
}
.inputs button:hover{
    background-color:#0022AA;
    color: white;
}

